body {
  width: 90%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

ul {
  display: block;
  list-style-type: disc;
  margin: 1rem 0 1rem;
  padding-left: 40px;
  }

h4 {
  margin-bottom: 1rem;
}

.position {
  margin: 1rem 0;
  font-style: oblique;
  font-size: 1.5rem;
}

.duties {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.qualifications {
  margin-bottom: 30px;

}


.contacts li {
  white-space: nowrap;

}

.photo {
  width: 80%;
}

@media screen and (max-width: 900px) {
  body ul {
    padding-left: 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    white-space: nowrap;
  }

  h3 {
font-size: 2.2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  body {
    font-size: small;
  }
}
